{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Valiance-Plot</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  	<style type="text/css">
  		.header{
  			color: #ee6e73;
    		font-weight: 300;
  		}
  	</style>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

<div class="container">
	<div class="row">
		<h3 class="header">Analysis of Pharmacist statistics march 2016</h3><hr>
		<h5 class="header">Raw Data</h5>
		<p>Raw data can be downloaded from <a href="https://drive.google.com/file/d/0B8NFdWTiGoD7LUg5YU9VcXVPUkk/view">here</a></p>
		<b>The graphs below are plotted using Plotly(Graphing library for python).</b>
		<!-- <p>The graphs will take some time to load, please be patient.</p> -->
		<h5 class="header">Required Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/required.html" width="840" height="610" scrolling="yes">
		</iframe>
		<h5 class="header">Sanctioned Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/sanctioned.html" width="840" height="610" scrolling="yes">
		</iframe>
		<h5 class="header">In Position Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/position.html" width="840" height="610" scrolling="yes">
		</iframe>
		<h5 class="header">Vacant Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/vacant.html" width="840" height="610" scrolling="yes">
		</iframe>
		<h5 class="header">Shortfall Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/shortfall.html" width="840" height="610" scrolling="yes">
		</iframe>
		<h5 class="header">All Features Pharmacist statistics As on 31st March, 2016</h5>
		<iframe src="../../static/allFeatures.html" width="840" height="610" scrolling="yes">
		</iframe>

	</div>
</div>
</body>
</html>